.row.override-bs {
    margin: 10px;
}

.btn-primary.override-bs {
    border-radius: 20px;
}

i.fas.fa-cog.fa-2x {
    color: dodgerblue;
}

.nav-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}



.list-group {
    border: none;
}

.list-group-item.list-group-item-action {
    border: none;
}

a.list-group-item-action.active {
    color: black;
    background-color: transparent;
    font-weight: bold;
}

i.fas.fa-cog.fa-2x {
    color: black;
}

input.ps-5.form-control.rounded-pill {
    background-color: lightgray;
}

a.nav-link.active {
    color: black;
    border: none;
    font-weight: bold;
}

a.nav-link.border-0 {
    color: gray;
}

.list-group-item.override-challenge {
    border: none;
    background-color: lightgray;
}

.btn-primary.override-bs.override-challenge {
    border-radius: 20px;
    font-weight: bold;
    background-color: black;
}
